[credential]
	helper = osxkeychain
[user]
	name = Maksim Kudryashov
	email = mdmkudryashov@avito.ru
[alias]
	st = status
	ch = checkout
	br = branch
	dog = log --oneline --graph
[init]
	defaultBranch = master
